 <div class = 'titre'>
     <img src='/images/cupcake.png' class='cupcake'/>
     <h1> Mes projets </h1>
 </div>
 <ul>
     <li><img src='/images/fado.png'><span>Projet 1</span></li>
     <li><img src="https://via.placeholder.com/150"><span>Projet 2</span></li>
     <li><img src="https://via.placeholder.com/150"><span>Projet 3</span></li>
     <li><img src="https://via.placeholder.com/150"><span>Projet 4</span></li>
 </ul>
    
